In [76]:
import requests
import csv
import io
import re
import json
import os
from dotenv import load_dotenv
from icecream import ic
from datawrapper import Datawrapper
import pandas as pd

load_dotenv()

EMAIL = os.getenv("EMAIL")
PASS = os.getenv("PASS")
ACCESS_TOKEN = os.getenv("ACCESS_TOKEN")

ruta_dict = r'C:\Users\SALVADOR\OneDrive\CEPLAN\CeplanPythonCode\RPA_Ceplan\datasets\info_obs.json'
with open(ruta_dict, 'r', encoding='utf-8') as file:
    info_obs = json.load(file)

dw = Datawrapper(access_token=ACCESS_TOKEN)

#ic(dw.get_my_account())

# Reemplaza con el ID de tu gráfico
chart_id = 'LLm2Z'

# URL para obtener los datos del gráfico
#url = f'https://api.datawrapper.de/v3/charts/{chart_id}/data'


# chart_config = dw.create_chart(
#     title="Baltimore Arrests",
#     chart_type="column-chart",
#     data=totals_by_year
# )
#dw.up

# dw.update_description(
#     chart_info=chart_id,
#     source_name="UN Population Division",
#     source_url="https://population.un.org/wup/",
#     byline="datawrapper at pypi",
# )

# Obtenemos el DataFrame directamente desde dw.get_data()
# Obtener el DataFrame directamente desde dw.get_data()
# Obtener el DataFrame directamente desde dw.get_data()
df = dw.get_data(chart_id)
df.head()

  \tMacrorregión Sur (promedio)\tPuno
0                        2013\t37\t44
1                        2014\t35\t27
2                        2015\t51\t86
3                       2016\t66\t140
4                        2017\t30\t21

In [66]:
import numpy as np
# Convertimos la única columna en varias usando el delimitador '\t'

df_split = df.iloc[:, 0].str.split('\t', expand=True)

# Obtener los nombres de las columnas dinámicamente usando df.columns.values
column_names = df.columns.values  # Obtener los nombres de las columnas
# Dividir cada elemento usando el tabulador '\t'
column_names = [item.split('\t') for item in column_names]
column_names = column_names[0]
df_split.columns = column_names

df_split.head()

        Macrorregión Sur (promedio) Puno
0  2013                          37   44
1  2014                          35   27
2  2015                          51   86
3  2016                          66  140
4  2017                          30   21

In [79]:


# Update the chart
try:
    dw.update_chart(chart_id="3d8H3", data = df_split)
except Exception as e:
    print(f"Failed to update chart metadata: {e}")
#dw.publish_chart(chart_id)

# properties = {
#     "visualize": {
#         "thick": True,
#         "custom-colors": {
#             "in rural areas": "#dadada",
#             "in other urban areas": "#1d81a2",
#             "Share of population that lives in the capital": "#15607a",
#         },
#     }
# }